<div class="container p-8">
<p><%= @restaurant.name %></p>
<p><%= @restaurant.address %></p> 
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %> - <%= "â­"*review.rating %> <%= link_to 'Remove Review', review_path(review), method: :delete, data: {confirm: "Sure?"} %></li>
    
  <% end %>
</ul>

<%= link_to 'List', restaurants_path %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
<%= link_to 'Delete', restaurant_path(@restaurant),
            method: :delete,
            data: { confirm: "Are u sure?"} %>
            </div>
<%= simple_form_for [ @restaurant, @review ] do |f| %>
<%= f.input :content %>
<%= f.input :rating, collection: 0..5 %>
<%= f.submit "Submit Review", class: "btn btn-primary" %>
<% end%>

